@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans');
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html{
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
#title {
    font-family: 'Euphoria Script', cursive;
    font-size: 100px;
    font-weight: 100px;
}

#header{
    background-color: rgb(251, 140, 0);
    color: #FFF3E0;
    height: 100px;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    flex: 0 1 auto;
}

#title a,#title a:visited,#title a:hover {
    color:white;

}
#main {
    flex: 1 1 auto;
}

#nav {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(255, 224, 178);
    width: 175px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.row {
    display: flex;
    flex-direction: row;
}


#maincontent {
    width: 100%;
    text-align: center;
    background-image: url("/static/images/lightpaperfibres.png");

}

footer {
    background-color: rgb(251, 140, 0);
    width: 100%;
    height: 30px;
    position:fixed;bottom:0
}

footer p {
    padding: 5px;

}

a {
    text-decoration: none;
}

.headerbutton {
    text-decoration: none;
    background-color: #FFF3E0;
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}

.headerbutton > a:hover {
    font-size: 100px;
}

.uploadbutton {
    background-color: rgb(251, 140, 0);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

.uploadbutton > a {
    color: white;
}

#nav ul p {
}

#nav ul {
    list-style-type: none;
    line-height: 1.2;
}
#nav ul a {
    color: black;
}

#nav p {
    margin: 5px;
}

#popular a, #recent a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    line-height: 1.5;
}

#nav ul > li > a {
    margin: 5px;
    color: black;
}

#nav a:hover {
    color: rgb(251, 140, 0);
}

#nav .uploadbutton > a:hover {
    color: black;
}

main {
    padding: 10px;
}

#headermenu {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 50px;
    vertical-align: middle;
    line-height: 100px;
}

#headermenu a {
    color: black;
}

.wallphoto{
    height:200px;
    margin:5px;

}

#image-wall{
    margin-left:auto;
    margin-right:auto;

}

input[type="submit"]{
    background-color: rgb(251, 140, 0);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    border-style: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#registerbutton {
    background-color: rgb(251, 140, 0);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    border-style: none;
    color: white;
    font-size: 18px;
}

#ormessage {
    margin-bottom: 10px;
}

#categories {
    color: rgb(251, 140, 0);
    font-size: 26px;
    text-align: center;
    padding: 5px;
}
#maincontent h1 {
    font-size: 32px;
}

#login,#register {
    margin-top: 30px;
}

#message {
    margin-top: 30px;
    color: red;
}

#slideshow {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.smallsketch {
    height: 100px;
    margin: 5px;
}

#enlargephoto {
    margin: 5px;
    text-align: center;
}

.bigphoto {
    margin: 5px;
    height: 300px;
}

.sublist {
    list-style: none;
    margin-left: 15px;
}
