@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans');
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
html{
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
#title {
    font-family: 'Euphoria Script', cursive;
    font-size: 100px;
    font-weight: 100px;
}

#header{
    background-color: rgb(251, 140, 0);
    color: #FFF3E0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    flex: 0 1 auto;
}
#main {
    flex: 1 1 auto;
}

#nav {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(255, 224, 178);
    width: 175px;
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}


#maincontent {
    width: 100%;
}

footer {
    background-color: rgb(251, 140, 0);
    width: 100%;
    height: 30px;
}

footer p {
    padding: 5px;
}

a {
    text-decoration: none;
}

.headerbutton {
    text-decoration: none;
    background-color: #FFF3E0;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}

.uploadbutton {
    background-color: rgb(251, 140, 0);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

.uploadbutton > a {
    color: white;
}
#nav ul {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
#nav ul a {
    color: black;
}

ul > li > a {
    color: black;
}

main {
    padding: 10px;
}

#headermenu {
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5px;
}

#headermenu a {
    color: black;
}