<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>GENERIC WELCOME TEXT</h1>
		<h3>You clicked on {category}</h3>
		<form method="POST">
			<ul>
				<li>
					<label><input type="radio" name="category" value="Man in business suit levitating" checked>Man in business suit levitating</label>
				</li>
				<li>
					<label><input type="radio" name="category" value="Arabic prayer hyms">Arabic prayer hyms</label>
				</li>
				<li>
					<label><input type="radio" name="category" value="LAMB SAUCE LOCATED">LAMB SAUCE LOCATED</label>
				</li>
			</ul>
			<input type="submit">
		</form>
	</body>
</html>