<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>Draw.This</title>
</head>

<body>
<div id="header" class="row">
    <div id="title">
        <a href="/"><img src="/static/images/logo.png"/></a>
    </div>
    <div id="headermenu">
        <p><a href="/user/login" class="headerbutton">Login <i class="fa fa-lock" aria-hidden="true"></i></a>

        <a href="/user/register" class="headerbutton">Register <i class="fa fa-user" aria-hidden="true"></i></a></p>
    </div>
</div>
<div id="main" class="row">
    <div id="nav">
        <p class="uploadbutton"><a href="/photo/upload">Upload <i class="fa fa-upload" aria-hidden="true"></i></a></p>
        <p id="recent"><a href="recent.html">Recent</a></p>
        <p id="popular"><a href="popular.html">Popular</a></p>
        <h2 id="categories">Categories</h2>
        <ul>
            <li>
                <p><a href="landscape.html">Landscape</a></p>
            </li>
            <li>
                <p><a href="figure.html">Figure</a></p>
            </li>
            <li>
                <p><a href="stilllife.html">Still Life</a></p>
            </li>
            <li>
                <p><a href="patterns.html">Patterns</a></p>
            </li>
            <li>
                <p><a href="architecture.html">Architecture</a></p>
            </li>
        </ul>
    </div>
    <div id="maincontent">
        <main>