{% include 'templates/header.html' %}

<b><font face="Euphoria Script" font size="6">Login</font></b>
{% if message %}
<p id="message">{{message}}</p>

{% endif %}
<form id="login" method="post">
  Username<br>
  <input type="text" name="username"/><br><br>
  Password<br>
  <input type="password" name="password"/><br><br>
    <input type="submit" value="Submit"/>
</form>
<h2 id="ormessage">OR</h2>
<p><a href="/user/register" id="registerbutton">Register</a></p>

{% include 'templates/footer.html' %}
