{% include 'templates/header.html' %}
<h1>
    Create Account
</h1>
{% if message %}
<p id="message">{{message}}</p>
{% endif %}
<form id="register" method="post">
  Create Username:<br>
    <input type="text" name="username"/><br><br>
  Create Password:<br>
    <input type="password" name="password"/><br><br>
  Enter Email:<br>
    <input type="email" name="email"/><br><br>
    <input type="submit" value="Go"/>
</form>

Already have an account?
<a href="/user/login">Login</a>

{% include 'templates/footer.html' %}