{% include 'templates/header.html' %}
<div id="enlargephoto">
    <div>
        <img src="{{ image_url }}" alt="Photograph" class="bigphoto">
        <br><h2>{{ caption }}</h2>
        <p>By {{ image_owner }}</p>
    </div>
    <br><h1>Responses</h1>
</div>

{% if login %}
<a href="/photo/response/upload/{{ post_id }}">
    <input type="submit" value = "Upload Response"/>
</a>
{% endif %}

<div>
    <div id="responses">
        {% for response in responses %}
        <div class="response-img">
            <img src="/{{response[0]}}" width="300em"/>
            <h3>{{ response[1] }}</h3>
            <p>By {{ response[2].user }}</p>
        </div>
        {% endfor %}
    </div>
</div>


{% include 'templates/footer.html' %}