{% include 'templates/header.html' %}

<div class="bigphotocontainer">
    <img src="{{ image_url }}" alt="Photograph" class="bigphoto">
    <h2>{{ caption }}</h2>
    <p>by {{ image_owner }}</p>
</div>


<div id="responses">
    {% if login %}
    <a href="/photo/response/upload/{{ post_id }}">
        <input type="submit" value = "Upload Response"/>
    </a>
    {% endif %}


    <h1>Responses</h1>  
        {% for response in responses %}  
        <div class="response-img">
            <img src="/{{response[0]}}" width="300em"/>
            <h3>{{ response[1] }}</h3>
            <p>by {{ response[2].user }}</p>
        </div>
        {% endfor %}  
</div>


{% include 'templates/footer.html' %}