{% include 'templates/header.html' %}
<b><font face="Euphoria Script" font size="6">Upload Photo</font></b><br><br>

<form method="POST" enctype="multipart/form-data">
{% if login %}
    <input type="file" name="upload" ><br><br>

<p>Enter your request</p>

<textarea name ="content"></textarea><br><br>
<p>Caption your photo</p>
        <textarea></textarea>
<br><br>
        <p><input type="submit" value="upload"></p>
    {% else %}
         <h3>You need to Log in First</h3>
    {% endif %}

</form><br>

<br>

{% include 'templates/footer.html' %}